<ion-view view-title="Activity">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
        <!-- <div class="item card-item">
            <div ui-sref="app.gallery" class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/wsj.jpeg');"></span>
                    Samsung was the only company to outsell <strong>Apple</strong> in smartphones last year http://on.wsj.com/1zUN2sp
                    <div class="card-footer text-right">
                        <i class="icon ion-arrow-return-left positive"></i> 205
                        <i class="icon ion-star assertive"></i> 122
                        <div class="pull-left">
                            <i class="icon ion-clock"></i> May 12
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <div ng-repeat="tweet in tweets" class="item card-item">
          <div class="card stable-bg ink ink-dark">
              <div class="item item-avatar item-text-wrap">
                  <span class="avatar" style="background-image: url({{tweet.img}});"></span>
                    <span ng-bind-html="tweet.tweet"></span>
                  <div class="card-footer text-right">
                      <i class="icon ion-arrow-return-left positive"></i> {{ tweet.retweet }}
                      <i class="icon ion-star assertive"></i> {{ tweet.fav }}
                      <div class="pull-left">
                          <i class="icon ion-clock"></i> {{ tweet.time }}
                      </div>
                  </div>
              </div>
          </div>
        </div>
    </ion-content>
</ion-view>
