<ion-view view-title="Activity">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">

        <div ng-repeat="tweet in tweets" class="item card-item">
          <div class="card stable-bg ink ink-dark">
              <div class="item item-avatar item-text-wrap">
                  <span class="avatar" style="background-image: url({{tweet.img}});"></span>
                  <span ng-bind-html="tweet.tweet"></span>
                  <div class="card-footer text-right">
                      <i class="icon ion-arrow-return-left positive"></i> {{ tweet.retweet }}
                      <i class="icon ion-star assertive"></i> {{ tweet.fav }}
                      <div class="pull-left">
                          <i class="icon ion-clock"></i> {{ tweet.time }}
                      </div>
                  </div>
              </div>
          </div>
        </div>
    </ion-content>
</ion-view>
