<ion-view view-title="Sustainability">
  <ion-content ng-class="{expanded:isExpanded}">
    <div class="item card-item">

      <div class="list card">

        <div class="item item-avatar">
          <img src="img/econo.png">
          <h2>Environmental</h2>
          <p>Impact such as: CO2, metals ...</p>
        </div>

        <div class="item item-image">
          <img src="img/chart1.png">
        </div>

      </div>

      <div class="list card">

        <div class="item item-text-wrap">
          <p>Apple is doing more than any other electronics manufacturer to address the negative effect it has on the environment, according to a new Greenpeace report, but the industry as a whole still faces major challenges to ensure a “toxic-free future”
          </p>
          <!-- <span class="pull-right"><a href="http://www.telegraph.co.uk/technology/apple/11070662/Apple-leads-the-way-on-reducing-environmental-harm.html">Telegraph</a></span> -->
          <a href="http://www.telegraph.co.uk/technology/apple/11070662/Apple-leads-the-way-on-reducing-environmental-harm.html" class="button button-clear button-dark pull-right">Telegraph</a>

        </div>

      </div>

    </div>
  </ion-content>
</ion-view>
