<ion-view view-title="Links">
    <ion-content ng-class="{expanded:isExpanded}">
        <!-- <div class="content has-header">
            <div class="list animate-fade-slide-in-right">

              <div href="#/app/profile" class="item item-avatar item-icon-right" ng-repeat="link in links">
                <img src="img/jon-snow.jpg">
                <h2>Jon Snow</h2>
                <p>Da illest illegitimate</p>
                <i class="icon ion-chatbubble muted"></i>
              </div>
              <div ng-repeat="tweet in tweets" class="item card-item">
                <div class="card stable-bg ink ink-dark">
                    <div class="item item-avatar item-text-wrap">
                        <span class="avatar" style="background-image: url({{tweet.img}});"></span>
                        <span ng-bind-html="tweet.tweet"></span>
                        <div class="card-footer text-right">
                            <i class="icon ion-arrow-return-left positive"></i> {{ tweet.retweet }}
                            <i class="icon ion-star assertive"></i> {{ tweet.fav }}
                            <div class="pull-left">
                                <i class="icon ion-clock"></i> {{ tweet.time }}
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
        </div> -->
        <div ng-repeat="link in links" class="item card-item">
          <div ui-sref="app.gallery" class="card stable-bg ink ink-dark">
              <div class="item item-avatar item-text-wrap">
                  <span class="avatar" style="background-image: url({{link.img}});"></span>
                  {{ link.name }}
                  <div class="card-footer text-right">
                      <i class="icon ion-arrow-return-left positive"></i> {{ tweet.retweet }}
                      <i class="icon ion-star assertive"></i> {{ tweet.fav }}
                      <div class="pull-left">
                          <i class="icon ion-clock"></i> {{ tweet.time }}
                      </div>
                  </div>
              </div>
          </div>
        </div>
    </ion-content>
</ion-view>
