<ion-view view-title="Login" align-title="left">
  <ion-content style="background: url(img/back.jpg) center; background-size: cover;">
    <div class="hero no-header flat">
      <div class="content">
        <div class="app-icon"></div>
        <h1>404</h1>
      </div>
    </div>
    <div class="list">
      <ion-md-input placeholder="Username" highlight-color="balanced" type="text"></ion-md-input>
      <ion-md-input placeholder="Password" highlight-color="energized" type="password"></ion-md-input>
    </div>


    <div class="padding">

      <!-- <label class="item item-input">
        <input type="text" placeholder="First Name">
      </label> -->
      <label class="item item-input item-md-label" style="border:none;" placeholder="Company" highlight-color="balanced" type="text">
        <input type="text">
        <span class="input-label">Company</span>
        <div class="highlight highlight-balanced"></div>
      </label>

      <button ui-sref="app.profile" class="button button-full button-assertive ink">Search</button>
      <button class="button button-full button-positive ink">Explore</button>



    </div>
    <!-- <div class="button-bar social-login">
            <button class="button button-small button-border icon-left ion-social-google button-assertive-900">Google+</button>
            <button class="button button-small button-border icon-left ion-social-twitter button-calm-900">Twitter</button>
            <button class="button button-small button-border icon-left ion-social-facebook button-positive-900">Facebook</button>
        </div> -->
  </ion-content>
</ion-view>
