<ion-view view-title="Profile">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" style="background-image: url('img/apple_bg.jpg');">
            <div class="content">

                <div class="avatar" style="background-image: url('img/apple.png'); background-color: #fff;
  background-size: 70px 88px;
  background-position-y: 3px;
  background-repeat: no-repeat;"></div>
                <h3><a class="light">{{company.name}}</a></h3>
                <h4>{{ companyStock.name }}  ${{ companyStock.price }} <span class="ion-arrow-down-b"></span> (0.00%)</h4>
            </div>
        </div>
        <div class="tabs tabs-dark tabs-icon-top static">
            <a ui-sref="app.activity" class="tab-item">
                <i class="icon ion-arrow-graph-up-right"></i> Activity
            </a>
            <a ui-sref="app.friends" class="tab-item">
                <i class="icon ion-android-people"></i> Links
            </a>
            <!-- <a ui-sref="app.gallery" class="tab-item">
                <i class="icon ion-images"></i> Photos
            </a> -->
        </div>
        <div ng-class="{expanded:true}" class="scroll" style="-webkit-transform: translate3d(0px, 0px, 0px) scale(1);">
            <div class="list half">
                <div ui-sref="app.profile" class="card card-gallery item item-text-wrap">
                    <div class="ink dark-bg">
                        <h2>Sentiment Analysis</h2>
<div class="col-lg-3 col-md-3">
<div></div>
<div class="card clickable force-height green" id="rating" style="text-align: center;   margin: 0px;">
<br>
<br>
<h4 data-placement="left" data-toggle="tooltip" style="float:right;margin-top:-40px;margin-right:-15px" title="" data-original-title="This is the composite score Cappio has calculated for this company by adding the four scores below.">

</h4>
<span class="glyphicon ion-thumbsup" style="font-size: 40px;"></span>
<br>
<br>
<br>
</span></div>
</div>
                    </div>
                    <div class="item tabs tabs-secondary tabs-icon-left">
                        <a class="tab-item stable-bg assertive">
                            <i class="icon ion-heart"></i>
                            4
                        </a>
                        <a class="tab-item stable-bg positive-900">
                            <i class="icon ion-chatbubbles"></i>
                            2
                        </a>
                    </div>
                </div>
            </div>
            <div class="list half">
                <div ui-sref="app.profile" class="card card-gallery item item-text-wrap">
                    <div class="ink dark-bg">
                        <h2>News</h2>
                        <img class="full-image" src="img/news.jpg">
                    </div>
                    <div class="item tabs tabs-secondary tabs-icon-left">
                        <a class="tab-item stable-bg assertive">
                            <i class="icon ion-heart"></i>
                            6
                        </a>
                        <a class="tab-item stable-bg positive-900">
                            <i class="icon ion-chatbubbles"></i>
                            1
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
