<ion-view view-title="Profile">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" style="background-image: url('img/fox_bg.jpg');">
            <div class="content">

                <div class="avatar" style="background-image: url('img/foxconn.jpeg'); background-color: #fff;
  background-size: 70px 88px;
  background-position-y: 3px;
  background-repeat: no-repeat;"></div>
                <h3><a class="light">Foxconn</a></h3>
                <h4>HON HAI PREC 5.51 <span class="ion-arrow-up-b"></span> (2.43%)</h4>
            </div>
        </div>
        <div class="tabs tabs-dark tabs-icon-top static">
            <a ui-sref="app.activity" class="tab-item">
                <i class="icon ion-arrow-graph-up-right"></i> Activity
            </a>
            <a ui-sref="app.friends" class="tab-item">
                <i class="icon ion-android-people"></i> Links
            </a>
            <!-- <a ui-sref="app.gallery" class="tab-item">
                <i class="icon ion-images"></i> Photos
            </a> -->
        </div>
        <div ng-class="{expanded:true}" class="scroll" style="-webkit-transform: translate3d(0px, 0px, 0px) scale(1);">
          <div class="list half">
            <div ui-sref="app.sustain" class="card card-gallery item item-text-wrap">
              <div class="ink dark-bg">
                <h2>Social Sentiment Analysis</h2>
                <div class="col-lg-3 col-md-3">
                  <div></div>
                  <div class="card clickable force-height green" id="rating" style="text-align: center;   margin: 0px;">
                    <br>
                    <br>
                    <h4 data-placement="left" data-toggle="tooltip" style="float:right;margin-top:-40px;margin-right:-15px" title="" data-original-title="This is the composite score Cappio has calculated for this company by adding the four scores below.">

                    </h4>
                    <span class="glyphicon ion-thumbsup" style="font-size: 90px;"></span>
                    <br>
                    <br>
                    <br>
                    </span>
                  </div>
                </div>
              </div>
              <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item stable-bg assertive">
                  <i class="icon ion-heart"></i> 4
                </a>
                <a class="tab-item stable-bg positive-900">
                  <i class="icon ion-chatbubbles"></i> 2
                </a>
              </div>
            </div>
          </div>

        </div>
    </ion-content>
</ion-view>
