<ion-view view-title="Sustainability">
    <ion-content ng-class="{expanded:isExpanded}">
      <div  class="item card-item">

        <div ui-sref="app.eco" class="card stable-bg ink ink-dark">
            <div class="item item-avatar item-text-wrap">
                <span class="avatar" style="background-image: url(img/econo.png);"></span>
                <h2>Economical</h2>
                <p></p>
            </div>
        </div>

        <div class="card stable-bg ink ink-dark">
            <div class="item item-avatar item-text-wrap">
                <span class="avatar" style="background-image: url(img/cult.png);"></span>
                <h2>Culture</h2>
                <!-- <p></p> -->
            </div>
        </div>

        <div ui-sref="app.eco" class="card stable-bg ink ink-dark">
            <div class="item item-avatar item-text-wrap">
                <span class="avatar" style="background-image: url(img/earth.jpeg);"></span>
                <h2>Environmental</h2>
                <p></p>
            </div>
        </div>

        <div class="card stable-bg ink ink-dark">
            <div class="item item-avatar item-text-wrap">
                <span class="avatar" style="background-image: url(img/political.png);"></span>
                <h2>Political</h2>
                <p></p>
            </div>
        </div>

      </div>
    </ion-content>
</ion-view>
